<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Speech Denoising in Python</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />

	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
          margin:auto 180px ;   /*внешний отступ для всех сторон*/
          padding: 20px;
          border: 10px double #ed341d;
        }
      </style>
</head>
<body >
    <h1 align ="center">ШУМА.точка.НЕТ </h1>

    {% if path != "" %} 
            
    <div id="speechTranscriptContainer" class = result-container-div>
        <h2> Вот и результат:</h2>
        <h3 align ="left"> Здесь исходная аудиодорожка</h3> 
        <!-- <p id="speechText">{{ transcript }}</p>  -->
        <!-- <audio src="{{ url_for('static', filename='audio/7268.wav') }}" autoplay>
            <a href="{{ url_for('static', filename='audio/7268.wav') }}">Download OGG audio</a>.
          </audio> -->
          <audio src= "{{path}}" controls="controls"></audio>
        <h3 align ="left">А тут уже очищенная</h3>
        <!-- <p id="speechText">{{ transcript }}</p> -->
        <!-- <audio src="{{ url_for('static', filename='audio/7268.wav') }}" autoplay>
        <a href="{{ url_for('static', filename='audio/7268.wav') }}">Download OGG audio</a>.
          </audio> -->
              <audio src="{{path1}}" controls="controls"></audio>

    </div> 
    {% endif %}

    <h3>Шаг 1 - Давай запишем аудио</h3>
    <div>
		<p>Записанное аудио будет с расширением .wav:</p>

		<select id="encodingTypeSelect">
		  <option value="wav">Waveform Audio (.wav)</option>
		</select>
		<div id="controls">
			<button id="recordButton">Начать запись</button>
			<button id="stopButton" disabled>Остановить запись</button>
		</div>
		<div id="formats"></div>
		<!-- <pre>Log</pre> -->
		<pre id="log"></pre>
        <h3>Шаг 2 - Теперь ты можешь скачать своё аудио и послушать его! </h3> 
		
		<ol id="recordingsList"></ol>
	</div>  
  <h3>Шаг 3 - Тебе предоставлен выбор модели! Определись, чего хочешь! </h3> 
  <!-- <label for="model_categore">Выберите свою категорию: <br>   </label> -->
  <p>А теперь выбери свою модель:</p>
  <select id="model_categore" name = "select"> 
    <option value='MyModel'>Дёшево, но сердито</option>
    <option value='Model23'>Вариант для мажоров</option>  
  </select>

    <div id="speechContainer" class = button-container-div >
        <h3 align ="left">Шаг 4 - Самое время загрузить аудиофайл для чистки!</h3> 

        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file"/>

            <h3 align ="left">Шаг 5 - Очистим аудио </h3> 
            <input type="submit" id="submitButton" value="Убрать шум" href="#res"/>
        </form>
    </div>

    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="{{ url_for('static', filename='js/WebAudioRecorder.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" ></script>

</body>
</html>